# Node.js Modules and Build Artifacts
node_modules/
.npm/
*.tgz
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Files
.env
env.json

# AWS SAM Build Artifacts
.aws-sam/
samconfig.toml

# AWS Credentials and Config
.aws/
*.pem

# Local AWS CLI Configurations
.aws-cli/

# Editor Directories and Files
.idea/
.vscode/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-Specific Files
.DS_Store
Thumbs.db
Desktop.ini

# Output of Compilers and Linters
dist/
build/
coverage/
.out/
*.pyc
*.class
*.cache
*.out
*.map

# Eslint and Prettier
.eslintcache
.prettierignore
.prettierrc

# Optional Yarn Files
.yarn-integrity
.pnp.*
.yarnrc.yml

# REPL History
.node_repl_history

# Dependency Management Files
jspm_packages/

# Lock Files (Optional)
# Uncomment if you don’t want to commit lock files
# package-lock.json
# yarn.lock

# Temp and Backup Files
*.bak
*.tmp
*.swp
*.lock

# IDE and Metadata Files
*.iml
*.ipynb_checkpoints
.idea/
*.code-workspace
